In [193]:
import pandas as pd
import numpy as np

In [194]:
df = pd.read_csv('Data_Clean_Titles.csv')

In [195]:
df.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,Revenue(In Millions)
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],6.510861,23439.382474,0.600,6.510861,169
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],8.200000,808582.000000,40.965,8.200000,16
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"['drama', 'action', 'thriller', 'european']",['US'],7.700000,107673.000000,10.010,7.700000,73
3,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['fantasy', 'action', 'comedy']",['GB'],8.200000,534486.000000,15.461,8.200000,23
4,tm120801,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,Unrated,150,"['war', 'action']","['GB', 'US']",7.700000,72662.000000,20.398,7.700000,300

In [196]:
df.isnull().sum().sum()

0

In [197]:
df.columns

Index(['id', 'title', 'type', 'description', 'release_year',
       'age_certification', 'runtime', 'genres', 'production_countries',
       'imdb_score', 'imdb_votes', 'tmdb_popularity', 'tmdb_score',
       'Revenue(In Millions)'],
      dtype='object')

In [198]:
df.drop(columns='description', inplace = True)

In [199]:
df['genres'] = df['genres'].str.split(", ")
df = df.explode('genres')
df.rename(columns={'genres': 'genre'},inplace=True)
df['genre'] = df['genre'].str.replace('[', '').str.replace(']', '')
df['genre']=df['genre'].astype(str)
df.head()

,id,title,type,release_year,age_certification,runtime,genre,production_countries,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,Revenue(In Millions)
0,ts300399,Five Came Back: The Reference Films,SHOW,1945,TV-MA,51,'documentation',['US'],6.510861,23439.382474,0.600,6.510861,169
1,tm84618,Taxi Driver,MOVIE,1976,R,114,'drama',['US'],8.200000,808582.000000,40.965,8.200000,16
1,tm84618,Taxi Driver,MOVIE,1976,R,114,'crime',['US'],8.200000,808582.000000,40.965,8.200000,16
2,tm154986,Deliverance,MOVIE,1972,R,109,'drama',['US'],7.700000,107673.000000,10.010,7.700000,73
2,tm154986,Deliverance,MOVIE,1972,R,109,'action',['US'],7.700000,107673.000000,10.010,7.700000,73

```As you can see, genre column has quotes in their values, so we have removed it using POWER BI```

In [200]:
df.to_csv('For_Genre_Column_Cleaning.csv', index = False)

In [201]:
df=pd.read_csv("Data_Clean_ML.csv")

In [202]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    1000 non-null   object
 1   title                 1000 non-null   object
 2   type                  1000 non-null   object
 3   release_year          1000 non-null   int64
 4   age_certification     1000 non-null   object
 5   runtime               1000 non-null   int64
 6   genre.2.1             1000 non-null   object
 7   production_countries  1000 non-null   object
 8   imdb_score            1000 non-null   float64
 9   imdb_votes            1000 non-null   float64
 10  tmdb_popularity       1000 non-null   float64
 11  tmdb_score            1000 non-null   float64
 12  Revenue(In Millions)  1000 non-null   int64
dtypes: float64(4), int64(3), object(6)
memory usage: 101.7+ KB

In [203]:
df.head()

,id,title,type,release_year,age_certification,runtime,genre.2.1,production_countries,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,Revenue(In Millions)
0,ts300399,Five Came Back: The Reference Films,SHOW,1945,TV-MA,51,documentation,['US'],6.510861,23439.38247,0.600,6.510861,169
1,tm84618,Taxi Driver,MOVIE,1976,R,114,drama,['US'],8.200000,808582.00000,40.965,8.200000,16
2,tm84618,Taxi Driver,MOVIE,1976,R,114,crime,['US'],8.200000,808582.00000,40.965,8.200000,16
3,tm154986,Deliverance,MOVIE,1972,R,109,drama,['US'],7.700000,107673.00000,10.010,7.700000,73
4,tm154986,Deliverance,MOVIE,1972,R,109,action,['US'],7.700000,107673.00000,10.010,7.700000,73

In [204]:
df.rename(columns = {'genre.2.1' : 'genre'}, inplace = True)

In [205]:
df['genre'].value_counts()

genre
drama            195
comedy           139
action           110
thriller          87
crime             69
romance           67
scifi             50
family            47
european          44
fantasy           42
animation         32
documentation     27
horror            23
war               20
music             12
history           11
sport             11
reality            8
western            6
Name: count, dtype: int64

In [206]:
df = df.drop(columns=['id', 'title'])

In [207]:
import ast 

def first_country(val):
    # works for strings that look like "['US', 'CA']" or "[]"
    if isinstance(val, str) and val.strip().startswith('['):
        try:
            lst = ast.literal_eval(val)
            return lst[0] if lst else None   
        except (ValueError, SyntaxError):
            return None                      
    return val                                

df['production_countries'] = df['production_countries'].map(first_country)

In [208]:
df.head()

,type,release_year,age_certification,runtime,genre,production_countries,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,Revenue(In Millions)
0,SHOW,1945,TV-MA,51,documentation,US,6.510861,23439.38247,0.600,6.510861,169
1,MOVIE,1976,R,114,drama,US,8.200000,808582.00000,40.965,8.200000,16
2,MOVIE,1976,R,114,crime,US,8.200000,808582.00000,40.965,8.200000,16
3,MOVIE,1972,R,109,drama,US,7.700000,107673.00000,10.010,7.700000,73
4,MOVIE,1972,R,109,action,US,7.700000,107673.00000,10.010,7.700000,73

In [209]:
num_cols = df.select_dtypes(include='number').columns
cat_cols = df.select_dtypes(include='object').columns

df[num_cols] = df[num_cols].fillna(df[num_cols].median())
df[cat_cols] = df[cat_cols].fillna('Unknown')

In [210]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report

In [211]:
low_card = [c for c in cat_cols if c != 'genre' and df[c].nunique() < 30]
for col in low_card:
    df[col] = LabelEncoder().fit_transform(df[col])

In [212]:
df.head()

,type,release_year,age_certification,runtime,genre,production_countries,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,Revenue(In Millions)
0,1,1945,7,51,documentation,24,6.510861,23439.38247,0.600,6.510861,169
1,0,1976,4,114,drama,24,8.200000,808582.00000,40.965,8.200000,16
2,0,1976,4,114,crime,24,8.200000,808582.00000,40.965,8.200000,16
3,0,1972,4,109,drama,24,7.700000,107673.00000,10.010,7.700000,73
4,0,1972,4,109,action,24,7.700000,107673.00000,10.010,7.700000,73

In [213]:
X = df[['runtime', 'production_countries', 'imdb_score', 'imdb_votes', 'tmdb_popularity', 'tmdb_score', 'Revenue(In Millions)']]
y = df['genre']
X.head()

,runtime,production_countries,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,Revenue(In Millions)
0,51,24,6.510861,23439.38247,0.600,6.510861,169
1,114,24,8.200000,808582.00000,40.965,8.200000,16
2,114,24,8.200000,808582.00000,40.965,8.200000,16
3,109,24,7.700000,107673.00000,10.010,7.700000,73
4,109,24,7.700000,107673.00000,10.010,7.700000,73

In [214]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.01, random_state=42
)
X_train.shape

(990, 7)

In [215]:
model = DecisionTreeClassifier(
    criterion="gini",             
)
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [216]:
model.score(X_test,y_test)

0.0

In [217]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [218]:
le_y = LabelEncoder()
df['genre'] = le_y.fit_transform(df['genre'])
X = df.drop(columns=['Revenue(In Millions)'])
y = df['Revenue(In Millions)']

In [219]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [220]:
rf = RandomForestRegressor(
        n_estimators=100,
)
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)

In [221]:
y_pred

array([204.19,  39.83,  41.2 , 215.54, 145.69, 118.95,  89.69, 255.14,
        80.79, 139.1 , 224.36, 189.66, 120.1 , 141.16,  83.05, 155.36,
       285.56, 190.12, 176.45, 189.17, 147.35, 139.83, 191.33, 193.79,
       233.86, 289.61, 140.14,  30.88, 174.32, 117.9 ,  97.83, 138.69,
       177.2 , 256.67, 195.53, 201.31, 261.77, 173.73, 180.  ,  56.6 ,
        55.42,  66.61, 233.77, 138.64, 237.67,  51.34, 120.6 ,  86.05,
       184.46, 228.12, 191.76, 189.37, 202.93, 252.8 ,  82.16, 210.08,
        28.84, 247.69, 237.4 , 169.31, 101.34, 253.86, 162.47, 233.08,
       265.87, 201.22, 141.2 ,  67.73, 231.62, 162.13, 230.89, 163.02,
       181.69, 242.92, 109.02, 110.05,  86.6 , 131.03, 166.85,  83.94,
       240.24,  63.7 ,  53.38,  76.99, 187.93, 146.71,  78.48, 162.37,
       236.92,  56.65, 258.39, 118.68, 203.42, 189.93, 215.15, 185.86,
        71.37,  68.82,  53.79, 257.66, 162.37, 143.74, 129.6 , 139.75,
       146.56, 250.1 , 147.86, 125.98, 166.88, 175.19, 196.62, 139.79,
       162.22,  48.92, 109.06,  39.42, 220.54,  60.27, 186.24,  98.76,
       248.36, 297.  , 162.23, 202.01, 289.61, 201.48, 174.24,  53.65,
       126.59, 209.87,  85.68,  27.55, 201.46, 237.46, 194.49, 253.34,
        73.53, 176.26, 205.91, 185.68, 172.91,  67.6 , 131.13, 275.39,
       248.36, 175.19, 244.63, 123.49, 142.04, 206.26, 124.78, 244.65,
        60.  ,  42.96, 192.59, 141.94,  84.21,   9.01,  56.6 , 162.11,
       114.34, 132.92, 164.36, 158.35,  67.18, 258.07, 224.24, 192.82,
       231.45,  83.83, 189.85, 136.73, 217.1 ,  29.97, 108.52,  66.77,
       137.01, 202.01, 212.99, 115.38, 205.95, 229.46, 143.9 , 203.  ,
       140.04, 138.24, 250.28,  65.82, 186.62, 215.96, 114.99, 197.89,
       212.04, 131.02, 158.88,  16.7 ,  99.84, 233.82, 131.8 , 122.61])

In [222]:
np.array(y_test)

array([ 80,  36,  36, 218, 150, 100,  83, 290,  71, 255, 278, 212, 116,
       167,  55, 155, 297, 185, 164, 192,  64, 126, 208, 263, 240, 293,
       137,  26, 180,  49,  89, 139, 182, 275, 208, 203, 292, 280, 180,
        52,  52,  50, 235, 167, 289,  50, 115,  75, 185, 231, 191, 185,
       208, 258,  76, 288,  20, 300, 256,  18,  96, 261, 165, 240, 283,
       208, 188,  58, 256, 165, 248, 144, 211, 253, 111, 111,  82, 117,
       165,  22, 246,  34,  50,  34, 192,  64,  72, 163, 255,  52, 299,
       116,  80, 178, 239, 185,  43,  51,  39, 267, 163, 140, 116, 136,
       187, 280, 212, 125, 169, 176, 263,  80, 217,  28, 239,  20, 225,
        60, 186,  96, 257, 297, 163, 208, 293, 253, 280,  52, 127, 229,
        75,  22, 208, 255, 263, 261,  74, 188, 214,  89, 168,  51, 119,
       297, 257, 176, 278, 111,  80, 212,  99, 247,  60,  20, 209, 134,
        22,   7,  52, 163,  92,  94, 288, 288,  58, 265, 289, 208, 235,
        22, 198,  45, 249,  26, 102,  64, 136, 208, 229, 100, 214, 230,
       146, 209, 216, 255, 258,  64, 209, 220,  49, 197, 218,  60, 149,
        10,  98, 240, 128, 122], dtype=int64)

In [223]:
mae  = mean_absolute_error(y_test, y_pred)
rmse = mean_squared_error(y_test, y_pred, squared=False)
r2   = r2_score(y_test, y_pred)

c:\Users\amand\anaconda3\Lib\site-packages\sklearn\metrics\_regression.py:492: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

In [224]:
print(f"R²  : {r2:.3f}")

R²  : 0.795